.firstPart {
    border: 1px solid;
}
.profile-propose {
    margin: 10px 0 10px 10px;
}
#upPhotos{
    background-color:#EEE;
}
.thumbs {
    background-color: #EEEEEE;
    overflow: hidden;
}
.thumb {
    float: left;
    margin: 8px 10px;
}